.ebook-container {
    background: linear-gradient(90deg, #000, #000, #3f3f3f);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ebook {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 85px;
}


.info h2, .info p, .ebook-btn {
    max-width: 600px;
}

.info h2, .info p {
    text-align: right
}

.info h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
}

.info p {
    font-size: 18px;
    margin: 5px;
}

.ebook-img {
    max-width: 450px;
    width: 100%;
}


.ebook-btn {
    list-style: none;
    background: linear-gradient(50deg, #00a700, #5b7c5b);
    font-size: 1.25rem;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 28px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    opacity: 1;
    text-align: center;
    margin-left: 60px;
    width: 90%;    
}

.ebook-btn:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.ebook-btn a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    display: block;
}

@media (max-width: 900px) {

    .ebook-img {
        max-width: 600px;
    }

    .info h2, .info p, .ebook-btn {
        max-width: 500px;
    }
    
    .info h2, .info p {
        text-align: right;
    }
    
    .info h2 {
        font-size: 40px;
    }
    
    .info p {
        font-size: 15px;
    }
    
}

@media (max-width: 500px) {
    .ebook {
        flex-direction: column;
    }

    .info h2, .info p {
        text-align: center;
    }
    .info p {
        width: 400px;
        
    }
    .info h2 {
        width: 420px;
    }

    .ebook-btn {
        margin: 0 auto;  
    }
}
