/* Estilos do Header */
.header {
    display: flex;
    width: 100%;
    height: 120px;
    background: linear-gradient(90deg, #000, #000, #3f3f3f);
    background-size: cover;
    padding: 0 5rem;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    width: 200px;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 80px;
    list-style: none;
    margin-left: auto;
}

.header-list li {
    text-transform: uppercase;
}

/* Estilo para os botões */
.header-list button {
    background: none;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: opacity 0.5s, text-decoration 0.3s;
    cursor: pointer;
    font-size: 18px;
}

#home-btn {
    color: goldenrod;
}

/* Hover nos botões */
.header-list button:hover {
    opacity: 0.8;
    text-decoration: underline;
}

/* Responsividade para telas menores que 900px */
@media (max-width: 900px) {
    .header {
        height: 100px;
        padding: 0 2rem;
    }

    .logo {
        width: 150px;
    }

    .header-list {
        gap: 40px;
    }
}

/* Responsividade para telas menores que 500px */
@media (max-width: 500px) {
    .header {
        height: 80px;
        padding: 0 1rem;
    }

    .logo {
        width: 120px;
    }

    /* Ícone do Menu Hambúrguer */
    .hamburger {
        display: block;
        font-size: 40px;
        cursor: pointer;
        color: white;
    }

    /* Esconde o menu */
    .header-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: #000;
        text-align: center;
        padding: 10px 0;
    }

    /* Exibe o menu quando ativo */
    .header-list.active {
        display: flex;
    }
}
